<!-- <button (click)="btnClick('graph')">Graph</button>
<button (click)="btnClick('barChart')">Bar-chart</button>
<router-outlet></router-outlet> -->

 

<!-- <app-barchart *ngIf="data.chartData.length" [data]="data.chartData"></app-barchart> -->
<!-- 
   <app-canvas-chart *ngIf="data.chartData.length" [data]="data.chartData"></app-canvas-chart>
   -->


<button (click)="handleClick('/users')"> /users</button>

<button (click)="handleClick('/list')"> /list</button>

<button (click)="handleClick('/graph')"> <b>dd</b>/graphData</button>
<br>
 {{data.chartData| json}}
 
 
   <router-outlet></router-outlet>