<!-- <button (click)="btnClick('graph')">Graph</button>
<button (click)="btnClick('barChart')">Bar-chart</button>
<router-outlet></router-outlet> -->

<div *ngFor="let entry of messages">
  {{entry.message}}
</div>

<app-barchart *ngIf="data.chartData.length" [data]="data.chartData"></app-barchart>



<button (click)="handleClick('/users')"> /users</button>

<button (click)="handleClick('/list')"> /list</button>

<button (click)="handleClick('/graph')"> /graphData</button>
<br>
 {{messages| json}}
 